<mat-card>
    <mat-card-title>Ajouter une annonce :</mat-card-title>
    <form [formGroup]="form" (submit)="SavePost()" >
        <mat-form-field>
            <mat-placeholder class="placeholder">titre de l'annonce</mat-placeholder>

            <input matInput type="text"
            formControlName="title"
            >
            <mat-error *ngIf="form.get('title').hasError('required')">Veuillez saisir un titre</mat-error>
            <mat-error *ngIf="form.get('title').hasError('minlength')">Trop petit :DD</mat-error>

        </mat-form-field>
        <mat-form-field> 
            <mat-placeholder class="placeholder">Description de l'annonce</mat-placeholder>
            <textarea matInput
            formControlName="description"
            rows="10"
            >
            </textarea>
            <mat-error *ngIf="form.get('description').hasError('minlength')">Tu peux écrire une phrase non ?</mat-error>
            <mat-error *ngIf="form.get('description').hasError('required')">Veullez saisir une description de l'annonce</mat-error>
        </mat-form-field>

        <mat-form-field class="Test1">
        <mat-label>Catégorie</mat-label>
        <select 
        matNativeControl
        formControlName="category"
        name="category"
        >
            <option>catégorie1</option>
            <option>catégorie2</option>
        </select>
        <mat-error *ngIf="form.get('category').invalid">Veuillez choisir une catégorie</mat-error>
        </mat-form-field>
        <span class="spacer"></span>
        <mat-checkbox labelPosition="before" (change)="HidePrice()">S'agit il d'un don ?</mat-checkbox>
        <div></div>
        <mat-divider ></mat-divider>
        <mat-form-field *ngIf="free" appareance="fill" class="Test1">
            <mat-label>Prix</mat-label>
            <input matInput
            formControlName="price"
            type="number"
            >
            <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
            <mat-error *ngIf="form.get('price').hasError('min')">autant le donner ?</mat-error>
        </mat-form-field>
        <mat-card-actions>
        <button
        mat-raised-button
        type="submit"
        color="warn"
        >Sauvegarder l'annonce !</button>
        </mat-card-actions>
    </form>
</mat-card>
