<div class="container">

  <mat-card class="card">
    <div class="container">

      <form (submit)="Login(userForm)" #userForm="ngForm">
        <br>
        <h4 style="color: crimson; font-family: cursive; font-size: 200%; align-content: center;" class="container">Se créer un compte</h4>
        <p class="container">Vous avez déjà un compte ? &nbsp; <a routerLink="/connexion"> Connectez-vous</a></p>
        <br>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Prénom</mat-label>
          <input matInput placeholder="Marie" ngModel [formControl]="first_name"  required>
          <mat-error *ngIf="first_name.invalid">{{getFirstNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Dupont" ngModel [formControl]="last_name"  required>
          <mat-error *ngIf="last_name.invalid">{{getLastNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com" ngModel [formControl]="email"  required>
          <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="container">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="{{hide ? 'password' : 'text'}}"
          placeholder="******"
          name="password"
          size="1"
          ngModel
          [formControl]="password"
          required
          minlength=5
          maxlength=25>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-card-actions>
          <div class="container">
            <button mat-raised-button color="accent" type="submit">Créer mon compte</button>
          </div>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>





</div>
