<mat-card>
  <br>
  <mat-card-header>
    <div>
      <mat-card-title>Ajouter une annonce :</mat-card-title>
    </div>
    <br>

  </mat-card-header>

  <mat-horizontal-stepper [linear]=true #stepper>
    <!-- First step : Description de l'annonce -->
    <mat-step [stepControl]="firstFormGroup">
      <form name="firstFormGroup" [formGroup]="firstFormGroup" (ngSubmit)="SavePostDescription(firstFormGroup)">
        <ng-template matStepLabel>Description de l'annonce</ng-template>

          <!-- Titre -->
            <mat-form-field appearance="outline">
              <mat-label>Titre de l'annonce</mat-label>
                <mat-placeholder class="placeholder">Titre de l'annonce</mat-placeholder>
                <input matInput type="text"
                ngModel
                required
                formControlName="title">
                <mat-error >Veuillez saisir un titre</mat-error>
            </mat-form-field>

            <!-- Catégorie -->
            <mat-form-field class="Test1" appearance="outline">
              <mat-label>Catégorie</mat-label>
              <mat-select matNativeControl name="category" ngModel required  formControlName="category">
                <mat-option value="chambre"><mat-icon>local_hotel</mat-icon>Chambre</mat-option>
                <mat-option value="kitchen"><mat-icon>restaurant</mat-icon>Cuisine</mat-option>
                <mat-option value="sdb"><mat-icon>bathtub</mat-icon>Salle de bain</mat-option>
                <mat-option value="bureau"><mat-icon>menu_book</mat-icon>Bureau</mat-option>
                <mat-option value="loisirs"><mat-icon>sports_esports</mat-icon>Loisirs/Sport</mat-option>
                <mat-option value="autres"><mat-icon>category</mat-icon>Autres</mat-option>
              </mat-select>
              <mat-error>Veuillez choisir une catégorie</mat-error>
            </mat-form-field>
            <br>

              <!-- Prix -->
              <mat-form-field class="Test1" appearance="outline">
                <mat-label>Prix</mat-label>
                <input matInput type="number" name="price" ngModel required min="5" formControlName="price">
                <span matSuffix><mat-icon>euro_symbol</mat-icon></span>
                <mat-error *ngIf="firstFormGroup.value.price.invalid">{{PriceError()}}</mat-error>
            </mat-form-field>

              <!-- Description -->
            <mat-form-field appearance="outline">
                <mat-label class="placeholder">Description de l'annonce</mat-label>
                <textarea matInput
                ngModel
                formControlName="description"
                name="Description"
                required
                rows="15"
                placeholder="Donnez une description de l'objet, précisez son état">
                </textarea>
                <mat-error *ngIf="firstFormGroup.value.description.invalid">Veullez saisir une description de l'annonce</mat-error>
            </mat-form-field>
            <div>
              <button mat-stroked-button matStepperNext type="submit" style="float: right;">Suivant</button>
            </div>
      </form>
    </mat-step>

    <!-- Second step : Images -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Ajouter des images</ng-template>
          <div>
            <!-- <mat-form-field class="container"> -->
              <input style="display: none" type='file' (change)="onSelectFile($event)" multiple #fileInput>
              <button mat-raised-button (click)="fileInput.click()">Choisir</button>
            <!-- </mat-form-field> -->
            <br>
            <div>
              <img *ngFor='let url of urls'  [src]="url" width="30%" style="margin:10px 10px"> <br/>
            </div>
          </div>

        <br>
        <div>
          <button mat-stroked-button matStepperPrevious style="float: left;">Précédent</button>
          <button mat-stroked-button matStepperNext style="float: right;">Suivant</button>
        </div>
      </form>
    </mat-step>

    <!-- Third step : Voir mon annonce -->
    <mat-step>
      <ng-template matStepLabel>Voir mon annonce</ng-template>
      <p>You are now done.</p>
      <mat-card-actions>
        <div class="container">
          <button mat-raised-button type="submit" color="warn">Sauvegarder l'annonce !</button>
        </div>
      </mat-card-actions>
      <div>
        <button mat-stroked-button matStepperPrevious type="firstsubmit">Précédent</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <br>




</mat-card>
