mat-form-field,
textarea {
    width: 90%;
}


 .mat-focused .placeholder {
     color: forestgreen;
}
mat-card {
    margin-top: 5%;
    width: 50%;
    margin-left: 20%;
}
.Test1 {
    width: 20%;
}
.spacer{
    flex:auto;
    background-color: darkmagenta;
}