<p>post-create works!</p>
<form (submit)="SavePost(userForm)" #userForm="ngForm">
    <input type="text"
    placeholder="Titre de l'annonce"
    ngModel
    name="title"
    required
    >
    <textarea
    placeholder="Description de l'annonce"
    ngModel
    name="Description"
    required
    rows="20"

    >
    </textarea>
    <select
    name="category"
    size="1"
    ngModel
    >

        <option>catégorie 1
        <option selected>catégorie 2
        <option>catégorie 3
    </select>
    <button
    type="submit"
    >Sauvegarder l'annonce !</button>
</form>
