<mat-card>
  <br>
  <mat-card-header>
    <div>
      <mat-card-title>Ajouter une annonce :</mat-card-title>
    </div>
    <br>

  </mat-card-header>

  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Description de l'annonce</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Titre de l'annonce</mat-label>
          <input matInput type="text" ngModel formControlName="title" required>
        </mat-form-field>

 <!-- Titre -->
 <!-- <mat-form-field appearance="outline">
  <mat-label>Titre de l'annonce</mat-label>
    <mat-placeholder class="placeholder">Titre de l'annonce</mat-placeholder>
    <input matInput type="text"
    ngModel
    required
    formControlName="title">
    <mat-error >Veuillez saisir un titre</mat-error>
</mat-form-field> -->


        <div>
          <button mat-stroked-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Ajouter des images</ng-template>

        <div>
          <button mat-stroked-button matStepperPrevious>Précédent</button>
          <button mat-stroked-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Voir mon annonce</ng-template>
      <p>You are now done.</p>
      <mat-card-actions>
        <div class="container">
          <button mat-raised-button type="submit" color="warn">Sauvegarder l'annonce !</button>
        </div>
      </mat-card-actions>
      <div>
        <button mat-stroked-button matStepperPrevious>Précédent</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <br>




</mat-card>
