mat-form-field,
textarea {
    width: 90%;
}


 .mat-focused .placeholder {
     color: forestgreen;
}
mat-card {
    margin-top: 4%;
    width: 55%;
    margin-left:21%;
}
.Test1 {
    width: 30%;
}
.spacer{
    flex:auto;
    background-color: darkmagenta;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
