<html >
<br>
<br>
<br>
<br>
<br>
<br>

  <div class="container">
    <nav>
      <div class="container">
        <h1 style="color: crimson; font-family: fantasy; font-size: 300%;">Bienvenue sur INSA'Troc !</h1>
      </div>
      <br>
      <br>
      <br>
      <br>

      <div class="container">
        <button mat-raised-button color="primary" routerLink="/deposer-une-annonce">Déposer une annonce</button>
      </div>
      <br>
      <br>
      <div class="container">
        <button mat-raised-button color="primary" routerLink="/toutes-les-annonces">Voir toutes les annonces</button>
      </div>
    </nav>
  </div>
</html>
