mat-sidenav-container {

  height: 100%;

}
mat-sidenav, mat-sidenav-content {
  padding-left: 2%;
}
mat-sidenav {
  background-color: rgb(255, 220, 106);
  width: 20%;
}
mat-toolbar {
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
