<mat-toolbar color="primary" style="position: sticky; top: 0; z-index: 1000;">   <!--primary, accent or warn-->
  <span>
    <mat-icon>eco</mat-icon>
  </span>
  <button mat-button>
      <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
      <h1 routerLink="/">INSA'Troc</h1>
  </button>
  <!-- <span class="fill-remaining-space"></span> -->
  <span class="spacer"></span>
  <button mat-button routerLink="/deposer-une-annonce">
    <mat-icon>add_circle</mat-icon>
    Déposer une annonce
  </button>
  <span class="spacer"></span>

  <!-- <button mat-button routerLink="/deposer-une-annonce">
      <mat-icon>add_circle</mat-icon>
      Déposer une annonce
  </button> -->
  <!-- </button> -->
  <!-- <button mat-button routerLink="/Annonces">
    <mat-icon>pool</mat-icon>
    Voir toutes les annonces
  </button> -->
  <button mat-button routerLink="/toutes-les-annonces">
    <mat-icon>dns</mat-icon>
    Voir toutes les annonces
  </button>

  <span class="spacer"></span>

  <mat-slide-toggle (change)='changetheme()'>
    <mat-icon >brightness_3</mat-icon>
  </mat-slide-toggle>

  <span class="spacer"></span>

  <!-- <button mat-button routerLink="/deposer-une-annonce-rea">
    <mat-icon>pool</mat-icon>
    Déposer une annonce(rea)
  </button> -->
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <input mat-clearable-input placeholder="Rechercher une annonce">
  <span class="spacer"></span>

  <ng-container *ngIf="loggedin">
    <button mat-button [matMenuTriggerFor]="profile">
      <mat-icon>account_circle</mat-icon>
      Username
    </button>
    <mat-menu #profile="matMenu">
      <button mat-menu-item routerLink="/:user">Mon profil</button>
      <button mat-menu-item routerLink="/:annonces">Mes annonces</button>
      <button mat-menu-item routerLink="/connexion" (click)="Disconnect()">Déconnexion</button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="!loggedin">
    <button mat-button routerLink="/connexion">
      <mat-icon>account_circle</mat-icon>
      Connexion
    </button>
  </ng-container>



</mat-toolbar>
